@import "modern-normalize";

:root {
  line-height: 1.5;
  box-sizing: border-box;
}

html {
  font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* END TEMPLATE */

.dashboard {
  font-family: "Fredoka", sans-serif;;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Griffy", system-ui, sans-serif;
}

.proj div::first-letter {
  font-family: "Griffy", system-ui, sans-serif;
}
/* ^ FONTS */

.dashboard {
  --font-light: #FAF0E6;
  --highlight1: #FFA500;
  display: grid;
  grid-template-areas: "side head" "side head" "side main";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: .7fr .5fr 4fr;
  background-color: var(--font-light);
}

.side {
  grid-area: side;
  background-color: #008B8B;
  color: var(--font-light);
  font-size: .7rem;
  display: grid;
  grid-template-areas: "logo" "places" "settings";
  grid-template-rows: auto;
  gap: .8rem;
  padding: 5px;
}

.places div, .settings div {
  display: flex;
  flex-wrap: nowrap;
  margin-left: .7rem;
  align-content: center;
  gap: 2px;
}

.side > .logo {
  grid-area: logo;
  margin-left: .7rem;
  display: flex;
  justify-items: first baseline;
  gap: 2px;
}

.side > .places {
  grid-area: places;
}

.side img[src^="images/"], .search img[src^="images/"] {
  width: 1.3rem;
  height: auto;
}

.side > .settings {
  grid-area: settings;
}

.head {
  grid-area: head;
  background-color: #4B0082;
  color: var(--font-light);
  display: grid;
  grid-template-areas: "search user" "headline interact";
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: .25fr .4fr;
  gap: .1rem;
}

.head .search, .head .headline {
  justify-self: start;
}

.head .user, .head .interact {
  justify-self: end;
}

.head > .search {
  grid-area: search;
  display: flex;
  margin: 5px;
  align-items: baseline;
}

.head button {
  background-color: var(--highlight1);
  border-radius: 10px;
  width: 3rem;
  border: none;
}

input[type="search"] {
  background-color: var(--font-light);
  height: 1rem;
}

input[type="search"]:focus {
  border: 2px double black;
}

#searchbutton {
  background: url("/images/magnify.svg") no-repeat;
  width: 1rem;
  height: auto;
  border: none;
  color: var(--font-light);
}

.head > .user {
  grid-area: user;
  display: flex;
  gap: 5px;
  align-content: baseline;
}

.user img[src^="images/"] {
  width: 1rem;
  height: auto;
}

#icons {
  width: 2rem;
  height: auto;
}

.head > .headline {
  grid-area: headline;
  padding-left: 10px;
  display: grid;
  grid-template-areas: "icon greeting" "icon hatter";
  align-items: start;
  gap: 0;
  line-height: .9;
}

.head .headicon {
  grid-area: icon;
  align-self: center;
}

.head .greeting {
  grid-area: greeting;
  align-self: end;
}

.head .hatter {
  grid-area: hatter;
}

.head > .interact {
  grid-area: interact;
  place-self: center;
}

.main {
  grid-area: main;
  background-color: #FAF0E6;
  display: grid;
  grid-template-areas: "proj updates";
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  font-size: .5rem;
}

.proj>div, .updates>div {
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadowcol);
  margin: 5px;
  padding: 7px;
}

.main > .proj {
  grid-area: proj;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 50px;
}

.proj > div {
  background-color: #228B22;
  border-left: 4px double var(--highlight1);
  --shadowcol: #355E3B;
  display: flex;
  flex-direction: column;
}

.proj #social {
  justify-self: end;
  align-self: end;
  display: flex;
  flex-direction: row;
  gap: 0;
}

#social img[src^="images/"] {
  width: 30px;
  height: auto;
}

.main > .updates {
  grid-area: updates;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
}

.ann, .trend {
  display: flex;
  flex-direction: column;
}

.ann>div, .trend>div {
  margin: 10px;
}

#ann1, #ann2, #ann3 {
  border-bottom: 2px dashed var(--highlight1);
}

.updates div {
  background-color: #FF1493;
  --shadowcol: #C71585;
  padding: 5px;
}

.trend>div {
  display: flex;
  flex-direction: row;
}

.trend img[src^="images/"] {
  width: 1rem;
  height: auto;
}

/* .main > .ann {
  grid-area: ann;
}

.main > .trend {
  grid-area: trend;
} */

